.tab-container {
  display: flex;
  justify-content: space-between; /* Distribute space evenly between tabs */
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
  flex-wrap: wrap; /* Allow tabs to wrap if they don't fit in one line */
}

.tab {
  flex: 1; /* Allow tabs to grow and take up equal space */
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  background-color: #8390fa; /* Primary Color */
  color: white;
  border: none;
  border-radius: 4px 4px 0 0;
  transition: background-color 0.3s ease;
  text-align: center; /* Center text inside tabs */
  margin-right: 2px; /* Add some space between tabs */
}

.tab:last-child {
  margin-right: 0; /* Remove margin for the last tab */
}

.tab:not(.active):hover {
  background-color: #1d2f6f; /* Dark Primary Color */
}

.tab.active {
  background-color: #fac748; /* Accent Color */
  color: #1d2f6f; /* Dark Primary Color */
  border-bottom: 2px solid #f88dad; /* Highlight Color */
}
